@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&family=Oswald&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body, button, input {
  font-family: 'Montserrat';
}

body {
  max-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
}
