.contact_item {
    position: relative;
    display: flex;
    gap: 8px;
    width: 100%;
    height: 40px;
    padding: 16px 8px;
    align-items: center;
    cursor: pointer;

    &:hover {
        background: #F5F7FB;
        border-radius: 8px;
    }

    img {
        height: 24px;
        width: 24px;
        border-radius: 50%;
    }

    span {
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        color: #222222;
    }

    button {
        position: absolute;
        right: 0;
        background: transparent;
        border: none;
        cursor: pointer;

        img {
            width: 20px;
            height: 20px;
            filter: invert(70%) sepia(0%) saturate(0%) hue-rotate(160deg) brightness(93%) contrast(92%);

            &:hover {
                filter: invert(80%) sepia(12%) saturate(18%) hue-rotate(336deg) brightness(106%) contrast(89%);
            }
        }
    }
}