.header_description {
    display: grid;
    grid-template-areas: "photo name"
        "photo mail";
    max-width: 170px;
    max-height: 46px;

    img {
        grid-area: photo;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        margin-right: 8px;
    }

    span {
        grid-area: name;
        color: #222222;
        font-size: 16px;
        line-height: 22px;
        font-weight: 700;
    }

    p {
        grid-area: mail;
        color: #222222;
        font-size: 14px;
        line-height: 22px;
        font-weight: 400;
    }

    @media screen and (max-width: 800px) and (min-width: 500px) {
        max-width: 10px;
    }

    @media screen and (max-width: 500px) {
        max-width: 10px;
        margin-left: 30px;
    }
}