.chat_wrapper {
    background-color: #555555;
    width: 100vw;
    height: 100vh;
    padding: 30px;
    display: grid;
    grid-template-columns: 15% 85%;
    column-gap: 6px;

    @media screen and (max-width: 1740px) and (min-width: 1360px) {
        grid-template-columns: 20% 80%;
    }

    @media screen and (max-width: 1360px) and (min-width: 1050px) {
        grid-template-columns: 25% 75%;
    }

    @media screen and (max-width: 1050px) and (min-width: 800px) {
        grid-template-columns: 30% 70%;
    }

    @media screen and (max-width: 800px) and (min-width: 400px) {
        grid-template-columns: 35% 65%;
    }
}

.chat_contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FFFFFF;
    border: 1px solid #E5EDF2;
    border-radius: 8px;

    .chat_header {
        height: 126px;
        width: 100%;
        background: #C7D6F6;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 23px 24px;

        .chat_logo {
            display: flex;
            align-items: center;
            gap: 8px;

            h3 {
                font-weight: 700;
                font-size: 16px;
                line-height: 22px;
                color: #222222;
            }

            img {
                height: 24px;
                width: 24px;
            }
        }

        input {
            height: 40px;
            width: 100%;
            background: #FFFFFF;
            border-radius: 999px;
            border: none;
            padding: 13px 16px;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            color: #888888;
        }
    }

    .chat_body {
        width: 100%;
        height: 70vh;
        padding: 8px 16px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        overflow-y: auto;

        hr {
            border: 1px solid #F5F7FB;
        }

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgb(124, 124, 124);
            border-radius: 5px;
        }
    }

}

.message_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FFFFFF;
    border: 1px solid #E5EDF2;
    border-radius: 8px;
}

.chat_preloader {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
        text-align: center;
        font-size: 35px;
        color: #C7D6F6;
    }
}

@keyframes bar {
    0% { width: 50px; }
    50% { width: 170px; }
    90% { width: 250px; }
   }

.message_header {
    width: 100%;
    height: 78px;
    background: linear-gradient(270.2deg, #DFE8FC 0%, #C7D6F6 100%);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;

    .header_input {
        position: relative;
        height: 40px;

        button {
            position: absolute;
            height: 40px;
            width: 40px;
            top: 0;
            right: 0;
            background: #FFFFFF;
            border: 1px solid #D9D9D9;
            border-radius: 50%;
            cursor: pointer;

            img {
                height: 13px;
                width: 13px;

                &:hover {
                    filter: invert(57%) sepia(87%) saturate(2217%) hue-rotate(196deg) brightness(100%) contrast(86%);
                }

                &:active {
                    filter: invert(53%) sepia(50%) saturate(7291%) hue-rotate(207deg) brightness(93%) contrast(84%);
                }
            }
        }

        input {
            width: 280px;
            height: 40px;
            padding: 13px 16px;
            background: #FFFFFF;
            border-radius: 999px;
            border: none;
            animation: bar .5s linear;
        }
    }
}

.message_body {
    background-color: white;
    height: 70vh;
    width: 100%;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgb(124, 124, 124);
        border-radius: 5px;
    }

}