.registration {
    background-color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;

    form {
        background-color: #C7D6F6;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding: 40px 50px;

        h1 {
            color: white;
        }

        input {
            height: 40px;
            width: 300px;
            padding: 10px;
            border-radius: 5px;
            border: none;
            font-size: 15px;

            &:focus {
                outline: none;
            }
        }

        button {
            background-color: #997af0;
            color: white;
            padding: 1rem 2rem;
            border: none;
            font-weight: bold;
            cursor: pointer;
            border-radius: 0.4rem;
            font-size: 1rem;
            text-transform: uppercase;
            transition: .3s ease-in-out;
            &:hover {
                background-color: #4e0eff;
            }
        }

        span {
            color: white;

            a {
                font-weight: bold;
                text-decoration: none;
                transition: .3s ease-in-out;
                &:hover {
                    color: white;
                }
            }
        }
    }
}

.registration_error {
    padding: 10px 5px;
    font-size: 13px;
    color: red;
}