.input_settings {

    input {
        display: none
    }

    button {
        position: static;
        height: 32px;
        width: 32px;
        background: #FFFFFF;
        border: 1px solid #D9D9D9;
        border-radius: 50%;
        cursor: pointer;

        img {
            height: 12px;
            width: 10px;

            &:hover {
                filter: invert(57%) sepia(87%) saturate(2217%) hue-rotate(196deg) brightness(100%) contrast(86%);
            }

            &:active {
                filter: invert(53%) sepia(50%) saturate(7291%) hue-rotate(207deg) brightness(93%) contrast(84%);
            }
        }
    }
}